---
title: What I've been up to
---

<p class="mb-4">
    It's been a weird span.
</p>
<p class="mb-4">
    I was laid off in June 2023 as part of the TrueCar restructuring.
    Restructurings are certainly something. We love to see that shareholder value go up.
    But also, it's a deeply annoying thing to be laid off.
    This notion that companies "over-hired" during the pandemic may very well be true, but
    it is a particularly ghoulish notion to make that over-hiring the employees' problem.
    I cannot abide that type of thinking. The world will continue turning if profits are
    not up 3% YOY. Anyway.
</p>
<p class="mb-4">
    At the time of this writing, I am still looking for my next opportunity, but I have been
    making myself busy in the interim!
</p>
<h3 class="text-lg">Tech</h3>
<p class="mb-4">
    I have been open-sourcing a ton of my code, so if you have not checked out my GitHub, why
    not take a look? You can see it at <a href="https://github.com/flanger001" rel="nofollow noreferrer">
    https://github.com/flanger001</a>.
</p>
<p class="mb-4">
    I have also been learning a bunch of new technology. I did a dive into Rust as soon as I
    was laid off. Rust is pretty neat. I also started learning React Native, and I am currently
    learning Go in preparation for a job I'm applying to.
</p>
<h3 class="text-lg">Music</h3>
<p class="mb-4">
    Since I found myself with all sorts of free time, I devoted a large chunk of it to rediscovering
    music/creative pursuits, and my wife and I ended up formally creating our band
    <a href="https://electric.falafel.band" rel="nofollow noreferrer">Electric Falafel</a>. This has
    been a fantastic challenge and a whole lot of fun. We have since played a handful of shows.
    Recordings of those shows will be available soon.
</p>
<h3 class="text-lg">Health</h3>
<p class="mb-4">
    I am actively pursuing some weight loss through diet modification and exercise.
    I got a little soft in late 2022-2023 and I have decided it is time to un-soften. I probably will
    not be posting much in the way of updates regarding this, but long story short I am looking to
    lose around 20 lbs, give or take. It is not an enormous amount for my body given my height, but
    it will make a large difference to my self-esteem and feelings of confidence.
</p>
<h3 class="text-lg">Home</h3>
<p class="mb-4">
    The house projects continue. We had our giant silver maple tree removed last year which
    dramatically improved the look and layout of our back yard. This year I am hoping to get some
    landscaping done in the yard as well as complete an electric meter move and potentially a service
    upgrade.
</p>
<h3 class="text-lg">Life</h3>
<p class="mb-4">
    Finally, I am looking forward to turning 40 this year, and Maria and I have a few fun concerts and
    vacations scheduled too.
</p>
<p class="mb-4">
    Anyway, thanks for checking back in. As always, I promise I will try to write more in this. I cannot
    guarantee I actually will, but I will always try! See you around!
</p>
