---
layout: post
title: Code
permalink: /code/
---
<article>
  <h2 class="text-xl">This website</h2>
  <p class="mt-4 break-words">
    This website code itself is open source and can be found on GitHub:
    <a href="https://github.com/flanger001/daveshaffer-static">https://github.com/flanger001/daveshaffer-static</a>.
    This next bit is copied verbatim from README for the code as it is somewhat of a necessary disclaimer: I license the
    code with WTFPL license because it is both funny and good. However, that does mean that under the license, you are
    free to do what the fuck you want to with it. I humbly ask that if you do fork this repository and deploy it
    yourself, please delete any of my specific posts. That would just be weird otherwise, right?
  </p>
</article>
